---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero";
import Projects from "../components/sections/Projects";
import Nav from "../components/Nav";
---

<Layout title="Chi's Portfolio">
  <Nav client:load />
  <main class="pt-[56px] md:pt-[60px]">
    <Hero client:load />
    <Projects client:load />
  </main>
</Layout>
